<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>News</title>
</head>
<body>
    <div class="main-page">
        <div class="top-box-index">
            <br>
            <a class="top-index-text" href="https://rokokoposten.dk/rokokopostens-historie/">
                RokokoPostens Historie
            </a>
            <a class="top-index-text" href="https://rokokoposten.dk/">
                Om RokokoPosten
            </a>
            <a class="top-index-text" href="https://rokokoposten.dk/kontakt/">
                Skriv til RokokoPosten
            </a>
            <a class="top-index-text" href="https://rokokoposten.dk/annoncoerinfo/">
                Annoncørinfo
            </a>
            <a class="top-index-text" href="https://rokokoposten.dk/folkeaktie/">
                Støt RokokoPosten
            </a>
            <a class="top-index-text" href="https://rokokoposten.dk/om-rokokoposten-aps/">
                Om RokokoPosten ApS
            </a>

        </div>
        <br>
        <div class="news-title">
            <a href="https://rokokoposten.dk/">
                <img src="billeder/Title.png" alt="Homepage" height="79" width="380" >
            </a>
        </div>
        <br>
        <br>
        <div class="news-index">
            <a class="index-box" href="https://rokokoposten.dk/">
               FORSIDE
            </a>
            <a class="index-box" href="https://rokokoposten.dk/home/indland/">
                INDLAND
            </a>
            <a class="index-box" href="https://rokokoposten.dk/home/udland/">
                UDLAND
            </a>
            <a class="index-box" href="https://rokokoposten.dk/home/kultur/">
                KULTUR
            </a>
            <a class="index-box" href="https://rokokoposten.dk/home/medier/">
                MEDIER
            </a>
            <a class="index-box" href="https://rokokoposten.dk/home/videnskab/">
                VIDENSKAB
            </a>
            <a class="index-box" href="https://rokokoposten.dk/home/lokalt/">
                LOKALT
            </a>
            <a class="index-box" href="https://rokokoposten.dk/home/erhverv/">
                ERHVERV
            </a>
            <a class="index-box" href="https://rokokoposten.dk/home/sport/">
                SPORT
            </a>
            <a class="index-box" href="https://rokokoposten.dk/home/interview/">
                INTERVIEW
            </a>
        </div>
        <br>
        <br>
        <div class="news">
            <a class="front-page-news" href="https://rokokoposten.dk/2021/10/01/organisation-i-kamp-mod-kraenkende-gloser-slut-med-tvang-og-overgreb-i-idraetsgymnastik/">
                <img alt="krænkende gloser" src="billeder/gymnastik.png"
                     height="260"
                     width="640">
            </a>
           <a class="news-header" href="https://rokokoposten.dk/2021/10/01/organisation-i-kamp-mod-kraenkende-gloser-slut-med-tvang-og-overgreb-i-idraetsgymnastik/">
               <h3>Organisation i kamp mod krænkende gloser: Slut med tvang- og overgreb i idrætsgymnastik </h3>
           </a>
        </div>
        <div class="latest-news-box">
            <h3 class="header-text">SENESTE</h3>
        </div>
        <br>
        <div class="content-news">
            <div id="bloc1" class="content-box">
                <a href="https://rokokoposten.dk/2021/09/30/kvinfo-kraever-ligestilling-flere-kvinder-skal-ende-paa-samfundets-bund/">
                    <img alt="kvinfo kræver ligestilling" src="billeder/KvinfoKræverLigestilling.png"
                         width="260"
                         height="200">
                </a>
            </div>
            <div id=bloc2 class="content-box">
                <a class="content-title" href="https://rokokoposten.dk/2021/09/30/kvinfo-kraever-ligestilling-flere-kvinder-skal-ende-paa-samfundets-bund/">
                    <h3>Kvinfo kræver ligestilling: Flere kvinder skal ende på samfundets bund</h3>
                   </a>
                <p> Hjemløshed, stofmisbrug og selvmord skal ikke længere være mandsdominerede områder. Det mener Kvinfo, der kræver, at også samfundets svageste opnår ligestilling.</p>
            </div>
        </div>

    </div>
</body>
</html>